<h1>North South Line</h1>

<table>
  <th>
  <% (1..31).each do |i| %>
    <td><%= i %></td>
  <% end %>
  </th>
  <% (Date.new(2017, 01, 01)..Date.new(2017, 12, 31)).each_with_index do |date, index| %>
    <% if date.day == 1%>
    <tr>
      <td class="align-right"><%= date.strftime('%B %Y') %></td>
    <% end %>
      <% if @timestampArray.include? date %>
      <td><div class="breakdown"></div></td>
      <% else %>
      <td><div class="normal"></div></td>
      <% end %>
    <% if date.day == date.end_of_month.day %>
    </tr>
    <% end %>
  <% end %>
</table>

<%= link_to 'index', home_index_path %>
