// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.normal {
  background-color: lime;
  width: 18px;
  height: 18px
}

div.breakdown {
  background-color: red;
  width: 18px;
  height: 18px
}

td.align-right {
  text-align: right;
}
